<div id="property_events" class="bordered_section">
  <h2 class="property_header">Occupancies</h2>

  <div id="calendar_display">
    <%= render :partial => 'events/calendar' %>
  </div>

  <div id="event_list">
    <% if !@property.members.blank? %>
      <h2>Legend:</h2>
      <% for member in (@events.map { |e| e.owner }).uniq %>
        <div class="legend" style="background-color:#<%= member.color %>;"></div>
        <%= member.name %><br />
      <% end %>
    <% end %>

    <%= render :partial => "/events/list", :locals => {:events_list => @events_list, :property => @property} %>
  </div>
</div>
<div style="clear:both;"></div>