/* @override 
	http://property.dev/stylesheets/rustic.css?1212874332
	http://property.dev/stylesheets/rustic.css?1219534184
*/

body {
  position: relative;
  top: -13px;
  background-color: #2d2920;
  color: #333;
  margin: 0px;
  padding: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited, a:active, a:hover {
  color: #666;
}

img {
  border: none;
}

h1 {
  margin-top: 0;
  padding-top: 10px;
  font: bold 16px "Lucida Grande", Lucida, Verdana, sans-serif;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #2d2920;
}

h3 {
  
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/** ALERTS **/

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#wrapper {
  width: 960px;
  padding: 5px;
  margin: 0 auto;
  

/* the auto margins (in conjunction with a width) center the page */
  top: -10px;
}

/* @group Header */

#header {
  height: 90px;
  border-bottom: 5px solid #86867e;
  position: relative;
  displaytop: -13px;
  background-color: #fff;
}

#logo {
  clear: both;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

#top-links {
  float: right;
  padding-right: 13px;
  margin-bottom: 42px;
  position: relative;
  clear: right;
}

#login-box {
  float: right;
  padding-right: 13px;
  font: 17px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #343434;
  position: relative;
  clear: right;
}

/* @end */

/* @group Content */

#content {
  
}

#featured-content {
  background: url(/images/midbkgrnd.jpg) 0 0;
  text-align: center;
}

.front-page-property {
  border: 4px solid #fff;
  margin: 3px;
}

#body-content {
  background-color: #fff;
}

#company-description {
  background-color: #2d2920;
  color: #dadaca;
  font: normal normal 15px Myriad, "Lucida Grande", Lucida, Verdana, sans-serif;
  text-align: center;
}

#featured-names {
  background-image: url(../images/auburnbackground.jpg);
  height: 52px;
  text-align: center;
}

.front-name {
  width: 32%;
  float: left;
  margin: 6px;
  border: 4px;
  color: #dadaca;
  xcolor: #2d2920;
  font-size: 18px;
}

.front-name a, .front-name a:visited, .front-name a:active, .front-name a:hover {
  text-decoration: none;
  color: #dadaca;
}

/* @end */

#property_header {
  padding: 10px;
}

#property_images {
  float: left;
  width: 475px;
}

#property_desc {
  float: left;
  width: 476px;
}

#property_desc p {
  padding-left: 10px;
}

.property_image {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.property_image li {
  list-style: none;
  float: left;
}

.property_image img {
  margin: 6px;
}

.property_image_name {
  text-align: center;
  margin-top: 1px;
}

#calendar_block {
  clear: left;
}

#calendar_block .calendars {
  padding: 2px;
  width: 900px;
}

.admin_content {
  padding: 5px;  
}

/* @group Admin Tabs */
.admin_tabnav {
  color: #2d2920;
  border-bottom: 1px solid #6f654f;
  padding: 0px;
  z-index: 1;
  padding-left: 10px
}

.admin_tabnav ul {
  margin: 0px;
  padding: 10px 0px 0px;
}

.admin_tabnav li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
}

.admin_tabnav li span.disabled {
  color: #888888;
  background: #FAFAFA;
  border: 2px solid #DDDDDD;
  border-bottom: none;
  padding: 2px 5px 0px 5px;
  margin: 0;
  text-decoration: none;
}

.admin_tabnav a, admin_tabnav a.active {
  color: ##2d2920;
  background: #EEEEEE;
  padding: 2px 5px 0px 5px;
  margin: 0;
  text-decoration: none;
  border-bottom-style: none;
  border-width: 1px;
  border-top: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom-color: #b3b3b3;
  border-left: 1px solid #b3b3b3;
}

.admin_tabnav a.active {
  background: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

.admin_tabnav a:hover {
  color: #FFFFFF;
  background: #CCCCCC;
}

.admin_tabnav a:visited {
  color: ##2d2920;
}

.admin_tabnav a.active:hover {
  background: #FFFFFF;
  color: ##2d2920;
}

.admin_tabnav_content {
  background: #FFFFFF;
  padding: 20px;
  border: 2px solid black;
  border-top: none;
  z-index: 2;
}

/* @end */

.manage-properties-image {
  float: left;
  margin: 3px;
  text-align: center;
  padding-left: 4px;
  font: bold 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#login_form {
  text-align: left;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  xborder: 4px solid;
  padding: 10px;

}