<div id="featured-content">
   <% if !@properties.blank? %>
     <% for property in @properties %>
          <% if !property.featured_image.blank? %>
            <%= link_to (image_tag property.featured_image.attached.url(:medium), :class => "front-page-property"), property %>
         <% end %>
     <% end %>
   <% else %>
     No properties available.
   <% end %>
</div>




<div id="featured-names">
   <% if !@properties.blank? %>
     <% for property in @properties %>
       <div class="front-name"><%= link_to property.name, :controller => 'properties', :action => property.id %></div>
     <% end %>
   <% end %>
</div>

<div id="company-description"><%= current_company.description %></div>