<% if events_list.length > 0 %>
  <% for event in events_list %>
    <h3><%= link_to event.name, admin_property_event_path(@property, event) %></h3>
    <%= event.starts_at.strftime('%B %d, %G') %>
    <% if (event.ends_at.month != event.starts_at.month) || (event.ends_at.day != event.starts_at.day) %>
      to <%= event.ends_at.strftime('%B %d, %G') %>
    <% end %>
  <% end %>

<% else %>
  No events have been created for this time period. 
    <%= link_to 'Create a new event', new_admin_property_event_path(@property) %>
<% end %>