<div id="page_content">
  <h2><%= @page.name %></h2>

  <p><%= simple_format @page.content %></p>

  <% if current_user.allowed_to?(:manage_company, current_company) %>
    <%= link_to 'Edit', edit_page_path(@page) %>
  <% end %>
</div>