<h2><%= @user.name %>'s Account</h2>

<% form_for @user, :url => {:controller => '/admin/users', :action => 'update'} do |f| %>
  
  <%= render :partial => 'form_fields', :locals => {:f => f} %>
  
<% end %>