<h1>Select the property you'd like to manage:</h1>

  <% if !@properties.blank? %>
    <% @properties.each do |property| %>
      <% if !property.featured_image.blank? %>
        <div class="manage-properties-image">
          <%= link_to (image_tag property.featured_image.photo.url(admin_thumbnail_size)),
            admin_property_path(property) %>
          <br /><%= property.name %>
        </div>
      <% else %>
        <%= link_to property.name, admin_property_path(property) %><br />
      <% end %>
    <% end %>
  <% else %>
    You haven't added any properties yet!
  <% end %>

<p style="clear:both"></p>
